ASPNETCORE_ENVIRONMENT=Development

# JWT
Jwt__Key=CHANGE_ME_WITH_ENV_JWT_KEY
Jwt__Issuer=EducenAPI
Jwt__Audience=EducenClient
Jwt__ExpireMinutes=60

# API key
SystemApiKey=CHANGE_ME_WITH_ENV_SYSTEM_API_KEY

# Database
ConnectionStrings__AdminConnection=Server=localhost;Database=EducenAdmin;Trusted_Connection=True;TrustServerCertificate=True;
ConnectionStrings__DefaultTenantConnection=Server=localhost;Database=EducenV2;Trusted_Connection=True;TrustServerCertificate=True;

# Email
EmailSettings__Host=smtp.gmail.com
EmailSettings__Port=587
EmailSettings__Email=your-email@example.com
EmailSettings__Password=your-app-password

# VNPay
PaymentGateways__VNPay__TmnCode=CHANGE_ME_VNPAY_TMN_CODE
PaymentGateways__VNPay__HashSecret=CHANGE_ME_VNPAY_HASH_SECRET
PaymentGateways__VNPay__BaseUrl=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
PaymentGateways__VNPay__ApiUrl=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
PaymentGateways__VNPay__ReturnUrl=http://localhost:5173/payment/result
PaymentGateways__VNPay__FrontendReturnUrl=http://localhost:5173/payment/result
PaymentGateways__VNPay__IpnUrl=http://localhost:5106/api/payments/vnpay/callback

# Zalo OA
ZaloOA__EncryptionKey=CHANGE_ME_ZALO_ENCRYPTION_KEY
